name: CI - Build & Push Image

on:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      # 3. Install & test
      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build app
        run: npm run build

      # 4. Set image tag as OUTPUT (single source of truth)
      - name: Set image tag
        id: meta
        run: echo "image_tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      # 5. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: hannumannamdev1992
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 6. Enable Docker Buildx (required for cache)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 7. Build & push Docker image (with cache)
      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            hannumannamdev1992/nestjs-app:${{ steps.meta.outputs.image_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
